.not-found-img-container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-img-styles {
  height: 30%;
  width: 30%;
}

.not-found-heading {
  color: #333333;
  font-family: 'Roboto';
  margin: 10px;
}

.not-found-description {
  color: #8a95a0;
  font-family: 'Roboto';
  margin: 10px;
  text-align: center;
}
